@charset "UTF-8";


header {
    background-color: black;
    padding:20px ;
    margin: -10px ;
    
}

header h1  {
    color: white;
    text-align: center;
    font-size: ;
    
}

header p  {
    color: white;
    text-align: center;
}

header a {
    color: white;
    text-align: center;
    
}

section#imagen {
    background-image: url('imagens/background001.jpg');
    background-position:center ;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    width: 1200px;
    height: 600px;

    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: -5px;
    
}
